.day {
  position: relative;
  width: 30px;
  height: 30px;
  color: #4a5660a6;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.activeDay {
  composes: day;
  color: #0d0d0dcc;
}

.currentDay {
  composes: activeDay;
  background-color: var(--dark-green-color);
}

.clickedDay {
  border: 1px solid var(--dark-green-color);
}

.hasTrips::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--dark-green-color);
  border-radius: 50%;
}
