.day {
  position: relative;
  width: 30px;
  height: 30px;
  color: #4a5660a6;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.activeDay {
  composes: day;
  /* color: #4a5660; */
  color: #afb6bc;
}

.currentDay {
  composes: activeDay;

  background-color: #fdcd03;
}

.clickedDay {
  /* outline: 1px solid #fdcd03; */
  border: 1px solid #fdcd03;
}

.hasTrips {
  /* position: absolute; */
  /* width: 100%;
  height: 100%; */
}

.hasTrips::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #fdcd03;
  border-radius: 50%;
}
