h1 {
  margin: 0;
  padding: 0;
}

.section {
  height: 100%;
}

.header {
  margin-bottom: 22px;
}

.headerPart {
  margin-left: 15px;
  width: 50%;
}

.ratingText {
  font-size: 11px;
  font-weight: bold;
}

.rating {
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
  margin-right: 6px;
}

.star {
  display: inline-block;
}

.ratingValue {
  font-size: 24px;
  font-weight: bold;
}

.content {
  text-align: center;
  color: var(--black-color);
}

.nameUser {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}

.userDescription {
  font-size: 12px;
  font-weight: normal;
}

.subscription {
  display: flex;
  align-items: center;
}

.statusSubscription {
  font-weight: bold;
}

.buyPass {
  font-weight: bold;
  font-size: 16px;
}
