.containerCars {
  margin-top: 20px;
}
.article > :nth-child(n):not(:last-child) {
  margin-bottom: 16px;
}

.textAddCar {
  font-size: 14px;
  margin-left: 5px;
}

.header {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black-color);
}

.nameSection {
  font-size: 18px;
}

.cars {
  overflow-y: auto;
  max-height: 300px;
}

.cars > :nth-child(n):not(:last-child) {
  margin-bottom: 15px;
}

.errorSettings {
  margin-bottom: 10px;
  color: var(--red-color);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
