.containerCars {
  margin-top: 40px;
  /* padding: 16px; */
}
.article > :nth-child(n):not(:last-child) {
  margin-bottom: 16px;
}

.textAddCar {
  font-size: 14px;
  margin-left: 5px;
}

.header {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nameSection {
  font-size: 18px;
  /* font-weight: normal; */
}

.cars {
  overflow-y: auto;
  max-height: 300px;
}

.cars > :nth-child(n):not(:last-child) {
  margin-bottom: 15px;
}

.messageWillBeCars {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  border: 2px dashed #fdcd03;
  border-radius: 10px;
  color: #fdcb034c;
  font-size: 30px;
  font-weight: bold;
}

.errorSettings {
  margin-bottom: 10px;
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
