.containerCars {
  margin-top: 40px;
  /* padding: 16px; */
}
.article > :nth-child(n):not(:last-child) {
  margin-bottom: 16px;
}

.textAddCar {
  font-size: 14px;
  margin-left: 5px;
}

.header {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nameSection {
  font-size: 18px;
  /* font-weight: normal; */
}

.cars {
  overflow-y: auto;
  max-height: 300px;
}

.cars > :nth-child(n):not(:last-child) {
  margin-bottom: 15px;
}
