input {
  height: 32.7px;
  border: 0;
}

.label {
  color: var(--black-color);
  display: flex;
  font-size: 13px;
  margin-bottom: 10px;
}

.input {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 5px 23px;
  font-size: 13px;
  width: 100%;
  border-radius: 5px;
  caret-color: var(--black-color);
}

.iconForLabel {
  display: inline-block;
  margin-right: 2px;
}

.errorText {
  margin-top: 5px;
  color: var(--red-color);
  font-size: 12px;
}

.containerContentSelect {
  width: 281px;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 5px;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 5px;
}

.li,
.notFound {
  font-size: 14px;
  padding: 5px 23px;
}

.li:not(:last-child) {
  border-bottom: 1px solid var(--black-color);
}

.li:active {
  background-color: var(--light-green-color);
}
