button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

/* Временно */
button:active {
  opacity: 0.7;
}

.transparent {
  padding: 10px 17px;
  /* background-color: #030213; */
  background-color: transparent;
  color: var(--black-color);
  border-radius: 7px;
  font-size: 11px;
  font-weight: bold;
}

.withIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onlyIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--dark-green-color);
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 #00000040;
}

.green {
  padding: 0 14px;
  background-color: var(--dark-green-color);
  color: var(--light-grey-color);
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  height: 35px;
}

.modal {
  display: block;
  font-size: 14px;
  color: white;
  height: 35px;
  width: 100%;
  background-color: var(--dark-grey-color);
}

.modalSingle {
  composes: modal;
  border-radius: 5px;
}

.modalUpper {
  composes: modal;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 0.5px solid #c4c4c480;
}

.modalMiddle {
  composes: modal;
  border-bottom: 0.5px solid #c4c4c480;
}

.modalLower {
  composes: modal;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 4px;
}
.modal:disabled:active {
  opacity: 0.5;
}
.modal:disabled {
  opacity: 0.5;
}
