.dayOfWeek {
  width: 30px;
  height: 20px;
  color: #0d0d0d99;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}
