.car {
  position: relative;
  padding: 10px;
  display: flex;

  gap: 10px;
  color: white;
  border: 1px solid #fdcd03;
  border-radius: 10px;
}

.name,
.registrationNumber {
  margin: 0;
  font-size: 14px;
}

.settingsButton {
  position: absolute;
  top: 19px;
  right: 10px;
}
