.car {
  position: relative;
  padding: 10px;
  display: flex;

  gap: 10px;
  color: var(--black-color);
  border: 1px solid var(--dark-grey-color);
  border-radius: 10px;
}

.name,
.registrationNumber {
  margin: 0;
  font-size: 14px;
}

.settingsButton {
  position: absolute;
  top: 19px;
  right: 10px;

  width: 25px;
  display: flex;
  justify-content: end;
}
