.carPhoto > :first-child {
  margin: auto;
  margin-bottom: 10px;
}

.input,
.containerYearAndColor {
  margin-bottom: 16px;
}

.containerYearAndColor {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttonConfirm {
  margin-top: 42px;
  width: 100%;
}

.inputYear {
  width: 133px;
}

.inputColor {
  width: 163px;
}

.label {
  margin-top: 16px;
  color: white;
  display: flex;
  font-size: 13px;
  margin-bottom: 10px;
}

.textarea {
  padding: 5px 23px;
  font-size: 13px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  min-height: 78px;
  resize: none;
}

.errorText {
  margin-top: 5px;
  color: red;
  font-size: 12px;
}
