body {
  /* width: 100%;
  height: 100%; */
  font-family: sans-serif;
  /* background-color: #474747; */
  background-color: black;
}

main {
  margin: auto;
  width: 100%;
  /* height: 100%; */
  padding: 15px;
  max-width: 390px;
}

.global-styles {
  border: 1px solid red;
  border-radius: 20px;
}
.global-styles:not(:last-child) {
  margin-bottom: 16px;
}

#root {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}
