:root {
  --background-color: #e0e0e0;
  --light-grey-color: #e4e4e4;
  --dark-grey-color: #474747;
  --light-green-color: #a4cdbd;
  --dark-green-color: #0c9762;
  --white-color: #ffffff;
  --black-color: #000000;
  --red-color: red;
  --light-red-color: #cda4a5;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
  height: auto;
}

main {
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.global-styles {
  border: 1px solid red;
  border-radius: 20px;
}
.global-styles:not(:last-child) {
  margin-bottom: 16px;
}

#root {
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
}
