.container {
  width: 100%;
}
.label {
  color: var(--black-color);
  display: flex;
  font-size: 13px;
  margin-bottom: 10px;
}

.globalStyles {
  padding: 5px 23px;
  font-size: 13px;
  width: 100%;
  border-radius: 5px;
}

.select {
  padding: 5px 23px;
  font-size: 13px;
  width: 100%;
  border: 0;
  border-radius: 5px;
  height: 32.7px;
}
