.container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
}

.nameApp {
  margin: 0;
  margin-top: 28px;
}

.continue {
  position: fixed;
  bottom: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.continueText {
  font-size: 14px;
  margin-right: 24px;
}
