.nav {
  position: fixed;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 370px;
  background-color: var(--background-color);
  height: 55px;
}

.ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  align-content: center;
}

.li {
  text-align: center;
}
