.status {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  color: var(--dark-grey-color);
  border-radius: 7px;
  font-size: 12px;
  font-weight: bold;
}
